body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: fit-content;
    transition: 0.3s;
}

.transparent {
    opacity: 0;
}

button {
    background: none;
    font-size: 25px;
    border-radius: 20px;
    font-family: courier;
    padding: 1rem;
    transition: 0.3s;
}

button:focus {
    outline: 0;
}

button:hover {
    background-color: pink;
}

button:active {
    background-color: lightpink;
}